.header {
  box-shadow: 0 0 10px rgb(207, 207, 207);
  position: sticky;
  background-color: white;
  top: 0;
  height: 80px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 15px 30px;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
}

.menu-icon {
  position: absolute;
  right: 40px;
  top: 27px;
  display: none;
}

.menu-icon svg {
  font-size: 30px;
  transition: 0.3s;
  position: absolute;
  background-color: white;
}

@media only screen and (max-width: 767px) {
  .menu-icon {
    display: block;
  }
  .nav {
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 0;
    right: 0;
    background: #dddddd;
    height: 100vh;
    width: 50%;
    padding: 20px;
    margin-top: 80px;
    transition: 0.3s;
    overflow: hidden;
    transform: translatex(0%);
  }
  .nav a {
    border-bottom: 1px solid rgb(206, 206, 206);
    padding-bottom: 20px;
  }
}
