:root {
  --dark: #222;
  --light: #fafafa;
  --uc--light: #fafafa;
  --uc--dark: #222;
  --grey: #808083;
  --b2c: #c10230;
  --b2b: #558b6e;
  --ppl: #ff6600;
  --edu: #0033cc;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.dark {
  --dark: #fafafa;
  --light: #222;
}

.light {
  --dark: #222;
  --light: #fafafa;
}

.dark {
  background-color: var(--light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--dark);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 30px;
}

.dark *,
.light * {
  transition: 0.3s;
}

.dark-mode-button {
  position: fixed;
  top: 30%;
  right: 0;
  border: none;
  background-color: var(--dark);
  color: var(--light);
  border: 1px solid var(--light);
  padding: 10px 20px;
  transform: rotate(90deg) translateY(15px);
  transform-origin: right;
  z-index: 999999;
}

@media only screen and (max-width: 767px) {
  .App {
    overflow-x: hidden;
  }
  .dark-mode-button {
    top: 80%;
  }
}
